/android/*.iml
/android/.gradle
/android/local.properties
/android/.idea
/android/.idea/libraries
/android/.idea/modules.xml
/android/.idea/workspace.xml
/android/.idea/navEditor.xml
/android/.idea/assetWizardSettings.xml
/android.DS_Store
/android/app/build
/android/build
/android/app/release
/android/captures
/android/.externalNativeBuild
/android/.cxx
/desktop/dist
/docs/node_modules
/docs/deploy.sh
node_modules